<h2>Please enter move commands</h2>
<p>Please use the following format: a series of letters (L, R or M) without spaces. L represents a 90-degree left turn, R represents a 90-degree right turn, and M represents moving forward one cell</p>
<form action="/rover/command" method="post">
  Commands: <input type="text" name="commands">
  <input type="submit" value="Enter">
</form>
<%= partial :grid %>
