<h2>Please enter the upper-right coordinates of the plateau</h2>
<p>Please use the following format: x coordinate, followed by a space, followed by y coordinate.</p>
<form action="/plateau" method="post">
  Coordinates: <input type="text" name="coords">
  <input type="submit" value="Enter">
</form>
