<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>NASA Mars Mission Control Terminal</title>
  </head>
  <body>
    <header>
      <h1>NASA Mars Mission Control Terminal<h1>
    </header>
    <section>
      <h2><%= flash[:notice] %></h2>
      <%= yield %>
    </section>
  </body>
</html>
