<h2>Please select rover position</h2>
<p>Please use the following format: x coordinate, followed by a space, followed by y coordinate, followed by a space, followed by orientation (N, E, S or W)</p>
<form id="select-form" action="/select_rover" method="post">
  Position: <input type="text" name="position">
  <input type="submit" value="Enter">
</form>
